<div ng-controller="mainCtrl">
	<div id="total" class="col-md-12">
		<a ng-if="matches.length != 535" ng-click="generateLink()" title="link to this search" class="pointer">{{matches.length}} member<span ng-if="matches.length != 1">s</span></a>
		<span ng-if="matches.length == 535">{{matches.length}} members </span>
		<span class="sh">of Congress</span>
	</div>
	<div id="searchbars" class="col-md-12 col-xs-6">
		<div class="col-md-4 input-group-lg"><input type="text" class="form-control" placeholder="zip code" ng-model="queryZip" /></div>
		<div class="col-md-4 input-group-lg"><input type="text" class="form-control" placeholder="state" ng-model="queryState" /></div>
		<div class="col-md-4 input-group-lg"><input type="text" class="form-control" placeholder="name" ng-model="queryName" /></div>
	</div>
	<div class="col-md-12 col-xs-6 select-boxes">
		<select ng-model="chambers.model">
			<option ng-repeat="option in chambers.availableOptions" value="{{option.id}}">{{option.name}}</option>
		</select>
		<select ng-model="parties.model">
			<option ng-repeat="option in parties.availableOptions" value="{{option.id}}">{{option.name}}</option>
		</select>
		<select ng-model="houseCommittees.model">
			<option ng-repeat="option in houseCommittees.availableOptions" value="{{option.id}}">{{option.name}}</option>
		</select>
		<select ng-model="senateCommittees.model">
			<option ng-repeat="option in senateCommittees.availableOptions" value="{{option.id}}">{{option.name}}</option>
		</select>
		<select ng-model="sorting.model">
			<option ng-repeat="option in sorting.availableOptions" value="{{option.id}}">{{option.name}}</option>
		</select>
		<button class="btn" ng-click="toggleShowOffices()">
			<span ng-if="showOffices">Hide offices & comms</span>
			<span ng-if="!showOffices">Show offices & comms</span>
		</button>
	</div>
	<ol when-scrolled="more()">
		<li class="row" ng-repeat="member in displayed">
			<div class="col-md-1 col-sm-2 col-xs-3">
				<img ng-src="./images/{{member.photoFilename}}" />
			</div>
			<div class="col-md-3 col-sm-3 col-xs-9">
				<span class="member-name" ng-if="member.district"><b>Rep. {{member.name}}</b></span>
				<span class="member-name" ng-if="!member.district"><b>Sen. {{member.name}}</b></span><br>
				<span>DC: <a href="tel:{{member.contact[0].phone}}">{{member.contact[0].phone}}</a></span><br>
				<span><a ng-if="member.linkMeeting" ng-href="{{member.linkMeeting}}" target="_blank">Request a meeting</a></span><br ng-if="member.linkMeeting">
				<span><a ng-if="member.linkTownhall" ng-href="{{member.linkTownhall}}" target="_blank">Townhalls</a></span><br ng-if="member.linkTownhall">
				<span><a ng-if="member.linkTeletownhall" ng-href="{{member.linkTeletownhall}}" target="_blank">Tele-Townhalls</a></span><br ng-if="member.linkTeletownhall">
				<span><a ng-href="{{member.linkContact}}" target="_blank">Email office</a></span>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<span><b>State: </b>{{member.stateDisplay}}</span><br>
				<span><b>Party: </b>{{member.party}}</span><br>
				<span ng-if="member.district"><b>District: </b>{{member.district}}</span><br ng-if="member.district">
				<span><b>Last election:</b> {{member.votePersonal}}% <span><br>
				<span><b>Trump vote:</b> {{member.voteTrump}}%<span><br>
				<span><b>Clinton vote:</b> {{member.voteClinton}}%<span><br>
				<span ng-if="!member.note"><b>First elected:</b> {{member.elected}}</span><br ng-if="!member.note">
				<span ng-if="member.note"><b>Note:</b> {{member.note}}</span><br ng-if="member.note">
				<span><b>Reelection:</b> {{member.reelection}}</span>
			</div>
			<div class="col-md-5 col-sm-4 col-xs-12 social-links">
				<span ng-if="member.socialTwitter" class="fa-stack fa-lg twitter-btn">
					<a ng-href="{{member.socialTwitter}}" target="_blank">
						<i class="fa fa-circle fa-stack-2x"></i>
	  				<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</a>
				</span>
				<span ng-if="member.socialFacebook" class="fa-stack fa-lg facebook-btn">
					<a ng-href="{{member.socialFacebook}}" target="_blank">
						<i class="fa fa-circle fa-stack-2x"></i>
  					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</a>
				</span>
				<span ng-if="member.socialInstagram" class="fa-stack fa-lg instagram-btn">
					<a ng-href="{{member.socialInstagram}}" target="_blank">
						<i class="fa fa-circle fa-stack-2x"></i>
	  				<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</a>
				</span>
				<span ng-if="member.socialYoutube" class="fa-stack fa-lg youtube-btn">
					<a ng-href="{{member.socialYoutube}}" target="_blank">
						<i class="fa fa-circle fa-stack-2x"></i>
  					<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
					</a>
				</span>
				<span ng-if="member.linkWikipedia" class="fa-stack fa-lg wikipedia-btn">
					<a ng-href="{{member.linkWikipedia}}" target="_blank">
						<i class="fa fa-circle fa-stack-2x"></i>
  					<i class="fa fa-wikipedia-w fa-stack-1x fa-inverse" style="color:black"></i>
					</a>
				</span>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 full-contact">
				<div class="row committees" ng-show="showOffices">
					<div class="col-md-2"><b>Committees</b></div>
					<div class="col-md-10">
						<span class="committee pointer" ng-repeat="committee in member.committees track by $index" ng-click="chooseCommittee(committee, member)">
							{{committee}}<span ng-if="$index != member.committees.length - 1">, </span>
						</span>
					</div>
				</div>
				<div class="row" ng-repeat="contact in member.contact" ng-class-odd="'odd-contact'" ng-show="showOffices">
					<div class="col-md-2 col-xs-12"><b>{{contact.name}}</b></div>
					<div class="col-md-2 col-xs-12"><a href="tel:{{contact.phone}}">{{contact.phone}}</a></div>
					<div class="col-md-6 col-xs-12">{{contact.address}}</div>
					<div class="col-md-2 col-xs-12"><span ng-if="contact.fax">Fax: {{contact.fax}}</span></div>
				</div>
			</div>
		</li>
	</ol>
</div>
