body {
	font-family: 'Mukta Vaani', sans-serif;
	padding-bottom: 50px;
	background: #fcfcff;
}

.pointer {
	cursor: pointer;
}

.center {
	text-align: center;
}

.spacer {
	margin: 0 10px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	border-bottom: 3px solid red;
	background: #424343;
}

.navbar .navbar-nav>li>a {
	max-height: 45px;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-header .navbar-brand span {
	color: #ff6060;
}

form .btn {
	background: #4267b2;
}

.select-boxes {
	margin: 10px 0 30px 0;
}

.select-boxes select.form-control {
  background: #efefef;
}

#sorting-options select {
	width: 80%;
	display: inline-block;
}

#sorting-options button {
	width: 15%;
  display: inline-block;
  padding: 0;
  background: #efefef;
  vertical-align: top;
}

#total {
	text-align: center;
	font-size: 30px;
}

#zipwarning {
	text-align: center;
	padding-bottom: 20px;
}

#main-list {
	height: 96vh;
	overflow-y: auto;
	overflow-x: hidden;
}

#main-list li {
	 list-style: none;
	 margin-bottom: 30px;
}

.row img {
	width: 100%;
}

.member-name {
	font-size: 18px;
}

.social-links, .contact-info {
	z-index: 2;
}

.social-links .fa-circle {
	transition: color 0.5s linear;
}

.social-links span.fa-stack.fa-lg {
	font-size: 24px
}

.social-links .twitter-btn .fa-circle{
	color: #1da1f2;
}

.social-links .twitter-btn2 .fa-circle{
	color: #d9534f;
}

.social-links .facebook-btn .fa-circle{
	color: #4267b2;
}

.social-links .instagram-btn .fa-circle{
	color: #262626;
}

.social-links .youtube-btn .fa-circle{
	color: #e62117;
}

.social-links .wikipedia-btn .fa-circle{
	color: #f6f6f6;
}

.social-links a {
	margin-right: 5px;
}

.social-links .fa-stack.fa-lg:hover .fa-circle {
	color: #afafaf;
}

.committees {
  background: silver;
}

.committee:hover {
	color: #4267b2;
	text-decoration: underline;
}

.full-contact {
  padding: 20px 0;
}

.full-contact .row {
	padding: 1px 0;
}

.odd-contact {
  background: #efefef;
}

@media only screen and (max-width: 1000px) {

	#local #titles.col-xs-0 {
		border-left: none;
		display: none;
	}

}

@media only screen and (max-width: 960px) {

	.navbar-header .navbar-text {
		display: none;
	}

}

@media only screen and (max-width: 800px) {

		#total {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 1.5em;
		}

		ol {
			padding-top: 30px;
			padding-left: 22px;
			display: inline-block;
		}

		.sh {
			display: none;
		}

		.input-group-lg {
			padding: 0;
		}

		.select-boxes {
			padding: 0;
			margin: 0;
		}

		.select-boxes select {
			padding: 0;
			margin: 0;
			height: 30px;
		}

		.select-boxes .btn {
			font-size: 12px;
			overflow: hidden;
			height: 30px;
		}

		#main-list .social-links {
			padding-top: 10px;
			text-align: center;
		}

		.social-links span.fa-stack.fa-lg {
			font-size: 20px
		}

		#zipwarning {
			padding: 5px 0;
		}

		#local #searchbars input.form-control {
			height: 34px;
		}

		#local .local-member {
			font-size: 1em;
		}

		#local .row.local-member .local-info {
			width: 86%;
		}
}

#about {
	margin-top: 50px;
	padding-bottom: 50px;
}

#about .center {
	margin-bottom: 40px;
}

#about .liner {
	line-height: 35px;
  margin-bottom: 50px;
}

#about .about-question {
	margin-top: 20px;
}

#local {
	padding-top: 20px;
}

#local #searchbars {
	margin-bottom: 30px;
}

#local button.neutral {
	color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

#local button.success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

#local button.failure {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

#local button span {
	padding-left: 5px;
}

#local .social-links span.fa-stack.fa-lg {
	font-size: 16px;
	margin-right: 10px;
}

.local-member {
	font-size: 1.2em;
	padding: 10px;
}

.local-member.odd-local-member {
  background: #f1f1f1;
}

#local .local-info {
	display: inline-block;
	width: 90%;
	z-index: 10;
}

#local .social-links {
	display: inline-block;
	width: 30px;
	vertical-align: top;
	z-index: 10;
}

#titles {
	border-left: 1px solid;
}

#titles .row {
	padding-left: 5px;
}

#titles .row:hover {
  color: #4267b2;
  text-decoration: underline;
}

.row.ng-move,
.row.ng-enter,
.row.ng-leave {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.row.ng-leave.ng-leave-active,
.row.ng-move,
.row.ng-enter {
  opacity:0;
}

.row.ng-leave,
.row.ng-move.ng-move-active,
.row.ng-enter.ng-enter-active {
  opacity:1;
}
