body {
	font-family: 'Lora', sans-serif;
	padding-bottom: 50px;
}

ol {
	height: 96vh;
	overflow: auto;
}

ol li {
	 list-style: none;
	 margin-bottom: 30px;
}

select {
  font-family: sans-serif;
	height: 30px;
	width: 170px;
  margin-right: 10px;
}

.pointer {
	cursor: pointer;
}

.center {
	text-align: center;
}

#logo-img {
	display: none;
}

#banner {
	text-align: center;
  background: #6b6566;
  color: white;
  padding: 10px 0;
  font-size: 17px;
}

#banner a {
	text-decoration: underline;
  color: white;
}

#facebook-share {
	position: absolute;
	z-index: 2;
	top: 50px;
	left: 5px;
}

#links {
	position: absolute;
	z-index: 2;
	top: 50px;
	right: 20px;
}

#links span {
	margin: 0 10px;
}

#total {
	text-align: center;
  font-size: 30px;
	margin: 20px 0;
}

.select-boxes {
  text-align: center;
  padding: 30px 0;
}

.row img {
	width: 100%;
}

.member-name {
	font-size: 18px;
}

.social-links, .contact-info {
	z-index: 2;
}

.social-links a {
	margin-right: 5px;
}

.full-contact {
  padding: 20px 0;
}

.odd-contact {
	background: #cdcdcd;
}

@media only screen and (max-width: 768px) {
		#total {
			margin-top: 40px;
		}
		ol {
			padding-top: 15px;
			display: inline-block;
		}
		.sh {
			display: none;
		}
		.select-boxes {
			padding: 0;
		}
}

#about {
	margin-top: 50px;
	border: 3px solid;
	padding-bottom: 50px;
}

#about .center {
	margin: 40px 0;
}

#about .liner {
	line-height: 35px;
  margin-bottom: 50px;
}
